.hero-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  color: #fff;
  box-sizing: border-box;
}


.hero-links-vertical {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 20px;
  top: 10px;
}

@media (max-width: 600px) {
  .hero-links-vertical {
    position: static;
    flex-direction: row; 
    justify-content: center;
    margin-top: 0px;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.hero-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.hero-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 10px;
  padding-left: 10px;
}

.hero-name {
  margin: 0;
  font-size: 22px;
  text-align: left;
}

.hero-bio {
  margin: 4px 0 0;
  font-size: 14px;
  color: #ccc;
  text-align: left;
}

.hero-comment {
    margin: 4px 0 0;
    text-align: left;
}

.hero-links-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.hero-link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.4s ease-out, color 0.4s ease-out;
}

.hero-link:hover {
  transform: scale(1.5);
  color: #764bdb;
}
